[submodule "src/api/songlang-lib"]
	path = src/api/songlang-lib
	url = https://github.com/whateverfault/sonlanglib.git
[submodule "src/api/twitchapi"]
	path = src/api/twitchapi
	url = https://github.com/whateverfault/TwitchAPI.git
