[submodule "src/api/TwitchAPI"]
	path = src/api/TwitchAPI
	url = https://github.com/whateverfault/TwitchAPI.git
[submodule "src/api/songlang"]
	path = src/api/songlang
	url = https://github.com/whateverfault/sonlanglib.git
